<!DOCTYPE html>
<html>
  <head>
    <title>To-Do List</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1><%= listTitle %></h1>
    <ul>
      <% newTask.forEach(task => { %>
        <li>
          <input type="checkbox" name="checkbox" value="<%= task._id %>" <%= task.done ? 'checked' : '' %> >
          <%= task.name %>
        </li>
      <% }); %>
    </ul>
    <form action="/" method="post">
      <input type="text" name="newItem" placeholder="Add a new item" autocomplete="off" autofocus>
      <button type="submit" name="button">Add Item</button>
    </form>
  </body>
</html>